/pipeline/.ipynb_checkpoints/
/pipeline/abberator_v2_2000/
/pipeline/__pycache__/
/pipeline/neural_networks/__pycache__/
/pipeline/dolfin_adjoint/.ipynb_checkpoints/
/pipeline/dolfin_adjoint/test/
/pipeline/dolfin_adjoint/__pycache__/
/samples_fenics/
